.mainContainer {
  background-color: rgb(250, 212, 219);
  margin: 0 auto;
  display: block;
  width: 50%;
  border-radius: 10px;
  padding:2px 55px 20px;
  font-family: 'Lora', serif;
}
h1 {
  text-align: center;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  background-color: rgb(34, 33, 33);
}
input[type=submit] {
  background-color: #801869;
}
input[type=submit]:hover {
  background-color: #9c077c;
  cursor: pointer;
}
